/ASUVideo/
/KUMC_PolypsSet/
/KUMC_PolypsSet_merged/
/SUN_mini_2_prozent/
/SUN_mini_split/
/sundatabase_negative/
/sundatabase_positive/
/sundatabase_resized_normalized/
/sundatabase_yolo_split/
/sunddatabase_stft/
/UKW/
/activity_net.v1-3.min.json
/ASUVideo.zip
/public-datasets-to-voc-master.zip
/KUMC_PolypsSet.zip
/SUN_mini_2_prozent.zip
/SUN_mini_split.zip
/sundatabase_negative_part3.zip
/sundatabase_resized_normalized.zip
/processed_data/
/SUN/
/SUN_archive/
/colonoscopy_dataset/
/KUMV_merged_backup/
