/ASUVideo/
/KUMC_PolypsSet/
!/KUMC_PolypsSet_merged/
!/SUN_mini_2_prozent/
!/SUN_mini_split/
!/sundatabase_negative/
!/sundatabase_positive/
!/sundatabase_resized_normalized/
!/sundatabase_yolo_split/
!/sunddatabase_stft/
!/UKW/
